<!-- Title -->
<div class="row">
  <div class="small-8 small-centered columns center first">
    <h1 id="headline">CHEGG DELTA</h1>
  </div>
</div>

<!-- Search Bar -->
 <div class="row collapse search-group">
  <div class="small-10 columns">
    <input type="text" placeholder="Search" id="search-box">
  </div>
  <div class="small-2 columns">
    <a href="#" class="button postfix search-submit"><i class="fa fa-search"></i></a>
  </div>
</div>

<!-- New Post -->
<div class="row">
  <div class="small-6 small-centered columns">
    <div id="write-post">Write a post here...</div>
  </div>
</div>


<!-- Featured tags -->
<div class="row">
  <div class="small-8 small-centered columns center">
    <section class="featured-tags">
      <strong><header>MOST USED TAGS</header></strong>
      <br />
      <!--Do comma delimited featured tag list here @TODO: make tags linkable -->
      <% @tags.each_with_index do |tag, i| %>
        <%= link_to tag.name, tagged_url(:tag => tag.name), :class=>"featured-tag" %>
      <% end %>
    </section> 
  </div>
</div>
