<div class="row">
  <div class="small-8 small-centered columns center first"><h1>Easy Wiki</h1></div>
</div>
<div class="row">
  <div class="small-8 small-centered columns center">
    <section class="featured-tags">
      <strong>Most used tags:</strong>
      <br />
      <!--Do comma delimited featured tag list here @TODO: make tags linkable -->
      <% @tags.each_with_index do |tag, i| %>
        <%= link_to tag.name, tagged_url(:tag => tag.name) %><% if i != @tags.length - 1 %>, <% end %>
      <% end %>
    </section> 
  </div>
</div>
