<!-- Top Navigation -->
<div class="contain-to-grid fixed">
	<nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
		<ul class="title-area">
			<li class="name">
				<h1><a href="/">Delta</a></h1>
			</li>
		</ul>
	</nav>
</div>


<div class="row">
	<a href = "/posts/new">new</a>
	<h1>Articles</h1>
	<% @posts.each do |post| %>
	  <a href="<%=post_url(post.id) %>"> <%= post.title %> </a>
	  <br />
	<% end %>
</div>
