<!-- <a href="/posts/new"><i class="fa fa-plus-circle"></i></a> -->
<a href="/posts/new"><i class="fa fa-plus-square-o"></i></a>

<!-- <div class="row collapse all-post search-group">
  <div class="small-10 columns">
    <input type="text" placeholder="Search" id="search-box"></input>
  </div>
  <div class="small-2 columns">
    <a href="#" id="home-search-button" class="button postfix search-submit"><i class="fa fa-search"></i></a>
  </div>
</div> -->

<div class="row">
  <div class="small-12 columns first all-post-header">
  	<h1>Articles</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
  	<% @posts.each do |post| %>
  	  <a href="<%=post_url(post.id) %>" class="all-post-link"> <%= post.title %> </a>
      <div class="all-post-body">
        <%= strip_tags(post.body)[0,100] %>...
      </div>
      <div class="all-post-tags">
        <i class="fa fa-tags"></i><span class="post-tag-header">TAGS:</span>
        <% post.tags.each do |tag| %>
          <%= link_to tag.name, tagged_url(:tag => tag.name), :class=>"featured-tag" %>
        <% end %>
      </div>
  	  <br />
  	<% end %>
  </div>
</div>

<!-- Static Pagination @TODO -->
<div class="row">
  <div class="small-8 small-centered columns center last pagination-wrapper">
    Page <span class="page-selected">1</span> 
    <span class="page">2</span> 
    <span class="page">3</span> 
    <span class="page-ellipsis">...</span> 
    <span class="page">26</span>
  </div>
</div>

<style>
  .fa-bars {
    display: none;
  }
</style>