<div class="contain-to-grid fixed">
		<nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
			<ul class="title-area">
				<li class="name">
					<h1><a href="/">Delta</a></h1>
				</li>
			</ul>
		</nav>
</div>

<a href = "/posts/">back</a><br><br>
<span id = "wiki-edit">viewing post! <a style="color:blue;text-decoration:underline;cursor:pointer;" onclick="Page.performPageAction('edit')">edit?</a></span>
<span id = "wiki-save" style="display:none">editing post! <a style="color:blue;text-decoration:underline;cursor:pointer;" onclick="Page.performPageAction('save', JSON.parse('<%=escape_javascript(@post.to_json) %>'))">save</a> or <a style="color:blue;text-decoration:underline;cursor:pointer;" onclick="Page.performPageAction('undo')">undo</a></span>

<div id ="wiki-title">
  <h1><%= @post.title %></h1>
</div>

<p />

<div id="wiki-content">
  <%=@post.body != nil ? @post.body.html_safe : "<br>".html_safe %>
</div>

<p />

<div id="wiki-tags">
  tags: <input type="text" id = "wiki-tags-input" value="<%= @post.tag_list %>"/>
</div>
