<div class="row" id ="wiki-title">
  	<h1><%= @post.title %></h1>
</div>

<p />

<div class="row" id="wiki-content">
  <%=@post.body != nil ? @post.body.html_safe : "<br>".html_safe %>
</div>

<p />

<div class="row" id="wiki-tags">
  tags: <input type="text" id = "wiki-tags-input" value="<%= @post.tag_list %>"/>
</div>

<div class="row">
  <div class="small-12 columns last">
    <span id = "wiki-save" style="display:none">
      You're editing your article! <br />
      <a style="color:blue;text-decoration:underline;cursor:pointer;" onclick="Page.performPageAction('save', JSON.parse('<%=escape_javascript(@post.to_json) %>'))">Save</a> | <a style="color:blue;text-decoration:underline;cursor:pointer;" onclick="Page.performPageAction('undo')">Undo</a>
    </span>
  </div>
</div>
