/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome
 *= require pen/pen
 *= require select2
 */
body {
  overflow-x: hidden;
}

.center {
  text-align: center;
}
.first {
  margin-top: 30px;
}
.last {
  margin-bottom: 100px;
}

.hidden {
	display: none;
}

.select2-container {
  width:100%;
}

#home-search-button {
  height: 40.5px;
}

.select2-hidden-accessible {
  display: none;
}

.opaque {
  opacity: 0;
}

/* Tag overlay */
.navigate-header {
  font-size: 32px;
  color: white;
  letter-spacing: 5px;
  display: inline-block;
  margin: 40px 0;
}
i.fa.fa-bars, .fa-times-link {
  font-size: 40px;
  opacity: 0.6;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}
.fa-times-link {
  margin-top: 8px;
}
#tag-overlay {
  background-color: black;
  opacity: 0.7;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  left: 100%;
}
.fa-times-link {
  color: white;
  opacity: 0.8;
}
a.overlay-tag {
  display: inline-block;
  margin: 15px;
  border: 3px solid white;
  padding: 10px 20px;
  color: white;
}
a.overlay-tag:hover {
  background-color: white;
  color: black;
}

.pen-menu .pen-icon.icon-insertimage:before {
  width: 2.5em;
  padding: 2px;
}
