// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pen[contenteditable] {
}

#wiki-title h1 {
  padding-top: 120px;
  padding-bottom: 20px;
  font-size: 72px;
  font-weight: bold;
}

//Tag styling
#wiki-tags {
  border-top: 1px solid #CCC;
  padding-top: 10px;
  margin-top: 50px;
}
#wiki-tags .fa-tags, .all-post-tags .fa-tags {
  color: black;
}
.post-tag-header {
  font-size: 15px;
  letter-spacing: 2px;
  margin-left: 10px;
  margin-right: 20px;
  font-weight: bold;
}

//Index page
.all-post-header h1 {
  font-size: 60px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 50px;
}
.all-post-link {
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 40px;
}
.all-post-body {
  letter-spacing: 2px;
  margin-bottom: 15px;
}
.all-post-tags {
  margin-bottom: 25px;
}
.fa.fa-plus-circle {
  font-size: 40px;
  float: right;
  margin-right: 25px;
  margin-top: 20px;
  opacity: 0.6;
}


.new-post-header.first {
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 60px;
}
input.new-post-title {
  border: none;
  box-shadow: none;
  background: none;
  font-size: 26px;
  margin-bottom: 20px;
}

#wiki-title input {
  margin-left: 0px;
  border: none;
  box-shadow: none;
  background: none;
  padding-top: 120px;
  padding-bottom: 20px;
  margin-bottom: 70px;
  font-size: 72px;
  font-weight: bold;
  padding-left: 0;
  padding-right: 0;
}
