// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #F3F3F3;
}
#headline {
  letter-spacing: 5px;
}
#search-bar {
  display: inline-block;
}
.search-group {
  width: 32.6%;
}
.featured-tags header {
  margin-top: 50px;
}

.featured-tag {
  border: 1px solid #CCC;
  padding: 8px 12px;
  color: black;
  font-size: 13px;
  letter-spacing: 2px;
  margin: 5px;
  &:hover {
//    background-color: black;
//    color: white;
    border: 1px solid #999;
  }
}

#write-post {
  color: #999;
}