// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #F3F3F3;
}
#headline {
  letter-spacing: 5px;
  margin-bottom: 30px;
  font-size: 20px;
}
#search-bar {
  display: inline-block;
}
.search-group {
  width: 45%;
}
.search-submit {
  background-color: #CCC;
  border-color: #CCC;
  &:hover {
   background-color: #BCBCBC; 
  }
}
.featured-tags header {
  margin-top: 50px;
}

.featured-tag, .new-post-btn {
  border: 1px solid #CCC;
  padding: 8px 12px;
  color: black;
  font-size: 13px;
  letter-spacing: 2px;
  margin: 5px;
  &:hover {
    border: 1px solid #999;
  }
}

.featured-tag {
  display: inline-block;
}

.new-btn-wrapper {
  margin-top: 10px;
  margin-bottom: 20px;
}
.new-post-btn {
  font-size: 14px;
  padding: 10px 23px;
  background-color: white;
  color: #008CBA;
  &:hover {
    background-color: white;
  }
}

//Write new post styling
#write-post {
  color: #999;
  margin-top: 20px;
}
.new-tag-wrapper {
  margin-left: 7px;
}
.fa-tags {
  color: #999;
}
input.new-tags {
  display: inline-block;
  margin-left: 5px;
  border: none;
  box-shadow: none;
  background: none;
  width: 95.2%;
}

.popular-header{
  border-bottom: thin solid #B5B5B5;
  margin-bottom: -20px;
}